body
{
    background-color: black !important;
}

.hea
{
    width: 100%;
    height: 70px;
    background-color: rgb(171, 76, 21);
    display: flex;
    padding-left: 25px;
    border-radius: 0px 0px 30px 30px ;
}

.hea>i
{
    margin: 10px;
}

.hea>h1
{
    padding: 10px 10px 0px 10px;
    color: white;
}

.carousel
{
    padding: 10px 350px 350px 200px;   
    padding-top: 10px;
    padding-right: 350px;
    padding-left: 200px;
    padding-bottom: 20px;
}

.tag
{
    text-align: center;
    color: white;
    z-index: 3;
}

.d-block
{
    border-radius: 70px;

}

.products
{
    display: flex;
    width:100%;
    height: 200px;
    padding: 50px;
    background-color: rgb(255,255,255);
    justify-content: space-around;
}

.product
{
    height: 120px;
    padding: 20px;
    /* background-color: blueviolet; */
    border-radius: 10px;
    transition: 500ms;
    display: grid;
    align-content: space-around;
}

.product:hover
{
    transition: 500ms;
    transform: scale(1.1);
    border-radius: 30px;
    background-color: black;
}
.cato
{
    transition: 100ms;
}

.product:hover .cato
{
    color: white;
}

.grids
{
    /* width: 100%;
    height: 50px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    grid-auto-rows: minmax(100px,auto);
    background-color: white;
    padding: 25px;
}

.item
{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
}

.one
{
    grid-column: 1.;
    grid-row: 2;
}

footer
{
    background-color: rgb(191, 191, 191);
    padding : 60px 250px 0px 250px
}

.brand
{
    display: flex;
    height: 200px;;
}

.brand>h1
{
    padding-right:500px;
    
}

.foot-svg
{
    margin-left:50px;
    width: 150px;
    height: 150px;
}

.foot
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
}

.fo-one
{
    display: grid;

}

.fo-two
{
    display: grid;
}

.fo-three
{
    display: grid;
}